version: '3.4'

services:
  cache:
    image: redis:5.0.3-alpine
    restart: always

  api:
    image: acid-challenge-api:latest
    user: node
    working_dir: /home/node/app
    depends_on:
      - cache
    env_file: .env

  app:
    image: acid-challenge-app:latest
    env_file: .env
    depends_on:
      - api

  proxy:
    image: traefik:1.7.7-alpine
    restart: always
    volumes:
      - ./docker/proxy/traefik.toml:/etc/traefik/traefik.toml
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8080:8080
      - 80:80
    depends_on:
      - api
      - app
