version: '3.4'

services:
  api:
    build:
      context: ./api
      dockerfile: ./Dockerfile
      args:
        - REACT_APP_FORECAST_API_BASE_URL=$REACT_APP_FORECAST_API_BASE_URL
        - REACT_APP_GOOGLE_MAPS_API_KEY=$REACT_APP_GOOGLE_MAPS_API_KEY
    image: acid-challenge-api:latest
    volumes:
      - ./api:/home/node/app
    command: yarn watch

  app:
    build:
      context: ./app
      dockerfile: ./Dockerfile
    image: acid-challenge-app:latest
